/* CSS Document */
#contain-501{
	left:0px;
	top:0px;
}

#contain-502{
	left:474px;
	top:0px;
}

#contain-503{
	left:0px;
	top:327px;
}

#contain-504{
	left:238px;
	top:327px;
}

#contain-505{
	left:474px;
	top:327px;
}

#contain-506{
	left:712px;
	top:327px;
}

#contain-507{
	left:950px;
	top:327px;
}

#contain-508{
	left:950px;
	top:164px;
}

#contain-509{
	left:950px;
	top:0px;
}
