/* CSS Document */

#contain-801{
	left:238px;
	top:0px;
}

#contain-802{
	left:712px;
	top:0px;
}

#contain-803{
	left:0px;
	top:0px;
}

#contain-803{
	left:0px;
	top:163px;
}

#contain-804{
	left:0px;
	top:326px;
}

#contain-805{
	left:238px;
	top:326px;
}

#contain-806{
	left:476px;
	top:326px;
}
