/* CSS Document */
#contain-201{
	left:0px;
	top:0px;
}

#contain-202{
	left:474px;
	top:0px;
}


#contain-203{
	left:712px;
	top:0px;
}

#contain-204{
	left:0px;
	top:327px;
}

#contain-205{
	left:238px;
	top:327px;
}

#contain-206{
	left:474px;
	top:327px;
}

#contain-207{
	left:712px;
	top:327px;
}

#contain-208{
	left:948px;
	top:327px;
}

#contain-209{
	left:948px;
	top:163px;
}

#contain-210{
	left:948px;
	top:0px;
}

