/* CSS Document */
#contain-601{
	left:238px;
	top:0px;
}

#contain-602{
	left:712px;
	top:0px;
}

#contain-603{
	left:0px;
	top:0px;
}

#contain-604{
	left:0px;
	top:163px;
}

#contain-605{
	left:0px;
	top:326px;
}

#contain-606{
	left:238px;
	top:326px;
}

#contain-607{
	left:476px;
	top:326px;
}

#contain-608{
	left:714px;
	top:326px;
}

#contain-609{
	left:952px;
	top:326px;
}

