/* CSS Document */
#contain-901{
	left:0px;
	top:0px;
}

#contain-902{
	left:238px;
	top:0px;
}

#contain-903{
	left:476px;
	top:0px;
}

#contain-904{
	left:714px;
	top:0px;
}

#contain-905{
	left:952px;
	top:0px;
}

#contain-906{
	left:0px;
	top:163px;
}

#contain-907{
	left:238px;
	top:163px;
}

#contain-908{
	left:476px;
	top:163px;
}

#contain-909{
	left:714px;
	top:163px;
}

#contain-910{
	left:952px;
	top:163px;
}

#contain-911{
	left:0px;
	top:326px;
}

#contain-912{
	left:238px;
	top:326px;
}

#contain-913{
	left:476px;
	top:326px;
}

#contain-914{
	left:714px;
	top:326px;
}

#contain-915{
	left:952px;
	top:326px;
}
