/* CSS Document */
#contain-101{
	left:0px;
	top:0px;
}

#contain-102{
	left:474px;
	top:0px;
}

#contain-103{
	left:474px;
	top:327px;
}

#contain-104{
	left:712px;
	top:327px;
}

#contain-105{
	left:950px;
	top:327px;
}

#contain-106{
	left:950px;
	top:162px;
}


#contain-107{
	left:950px;
	top:0px;
}













