/* CSS Document */
#contain-701{
	left:0px;
	top:0px;
}

#contain-702{
	left:474px;
	top:0px;
}

#contain-703{
	left:474px;
	top:163px;
}

#contain-704{
	left:474px;
	top:326px;
}

#contain-705{
	left:712px;
	top:326px;
}
#contain-706{
	left:712px;
	top:163px;
}
#contain-707{
	left:712px;
	top:0px;
}
#contain-708{
	left:950px;
	top:0px;
}

#contain-709{
	left:950px;
	top:163px;
}

#contain-710{
	left:950px;
	top:326px;
}
